body {
    background-color: rgb(244, 252, 255);
    font-family: "Poppins", sans-serif;
}

h1{
    text-align: center;
    margin: 1.5remS;
}

section {
    margin-bottom: 1rem;
}

form {
    background-color: rgb(215, 235, 250);
    width: 35rem;
    margin: auto;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

label {
    color: rgb(35, 40, 60);
    margin: 0.5rem 0;
    display: block;
}

input, 
textarea, 
select {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font: inherit;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 6px;
    padding: 0.25rem;
    color: rgb(185, 185, 185);
}

textarea {
    resize: none;
}

input:focus,
textarea:focus {
    background-color: rgb(220, 225, 245);
}

button {
    display: inline-block;
    font: inherit;
    border: 1px solid rgb(50, 70, 100);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

#submit {
    border: 1px solid rgb(30, 5, 65);
    background-color: rgb(30, 5, 65);
    color: white;
}

button:hover {
    background-color: rgb(140, 113, 180);
    color: white;
    border-color: rgb(140, 113, 180);
}

#submit:hover {
    background-color: rgb(140, 113, 180);
    border-color: rgb(140, 113, 180);
}

#form-actions {
    text-align: right;
}

.form-control-inline {
    display: flex;
}

.form-control-inline label {
    margin: 0;
    margin-left: 0.2rem;
}

.form-control-inline input {
    width: auto;
    margin-right: 0.5rem;
}