<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', {}) %>
  </head>
  <body>
    <%- include('includes/headers', {}) %>
    <%- include('includes/side-drawer', {}) %>
    <main>
      <h1>SOMETHING WENT WRONG!</h1>
      <p>
        Unfortunately, somehting went wrong. We'll try to fix it as soon as we possibly could
      </p>
    </main>
  </body>
</html>